flask==3.0.2
gunicorn==21.2.0
line-bot-sdk==3.9.0
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.31
langchain-google-genai
faiss-cpu==1.8.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
