flask
gunicorn
line-bot-sdk
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
faiss-cpu
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
